<h1 style="color: brown;">Susanta Sau</h1>
<!-- <hello-comp></hello-comp>
<greet></greet>
<City></City>
<welcome-comp></welcome-comp>
<parent-comp></parent-comp>-->
<!-- <prod-comp></prod-comp> -->
<!-- <cust-comp></cust-comp>  -->

<!-- <ngswitch-comp></ngswitch-comp> -->
<!-- <attr-comp></attr-comp> -->

<!-- <p myhighlight>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi omnis asperiores aliquam cumque 
    fugiat reprehenderit fuga nemo, doloribus dolores molestias ipsam rem atque 
    incidunt delectus consequuntur? Ratione dolorum consequuntur quis.
</p> -->



<!-- <order-comp></order-comp> -->
<!-- <parent-case></parent-case> -->


<!-- <pipe-comp></pipe-comp> -->

<!-- <p>{{"Welcome"|reversepipe}}</p>
<p>{{"Welcome"|reversepipe|uppercase}}</p> -->

<!-- <bind-comp></bind-comp> -->

<!-- <calc-comp></calc-comp> -->

<!-- <msg-parent></msg-parent> -->

<!-- <nav>
    <a routerLink="">Home</a>&nbsp;&nbsp;
    <a routerLink="Messege">Message</a>&nbsp;&nbsp;
    <a routerLink="Galary">Galary</a>&nbsp;&nbsp;
    <a routerLink="abc">Login</a>&nbsp;&nbsp;

</nav>

<router-outlet></router-outlet> -->

<!-- <prop-comp></prop-comp> -->

<!-- <dict-parent></dict-parent> -->

<!-- <first-comp></first-comp> -->
<!-- <second-comp></second-comp> -->

<!-- <test-comp></test-comp> -->
<!-- <temp-comp></temp-comp> -->

<!-- <reg-form></reg-form> -->


<!-- <modeldrive-comp></modeldrive-comp> -->
<!-- <emp-list></emp-list> -->

<!-- <mycomp></mycomp> -->

<HGSVV-Comp></HGSVV-Comp>